@import 'tailwindcss';

@theme inline {
  /* Font declaration */
  --font-inter: var(--font-inter);
  --font-instrument-sans: var(--font-instrument-sans);

  /* Breakpoints */
  --breakpoint-xs: 480px;
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;

  /* Colors */
  --color-purple: #7b00ff;
  --color-primary: #36364a;
}

body {
  @apply bg-[#1B1B1F] text-white;
}

.container-main {
  @apply mx-auto max-w-[1920px] px-2.5 sm:px-5 md:px-8 xl:px-12 2xl:px-16;
}

.container {
  @apply mx-auto max-w-[1920px] px-5 md:px-8 xl:px-12 2xl:px-16;
}

button {
  @apply cursor-pointer;
}

h2 {
  @apply text-4xl font-medium md:text-5xl xl:text-6xl 2xl:text-7xl;
}
